<a href="https://colab.research.google.com/github/phaleixo/estudos_aleixo/blob/main/media_salarial_e_nivel_de_escolaridade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando as Bibliotecas Necess√°rias

In [ ]:
import pandas as pd
import numpy as np

# **Extract**

## Ler a tabela dados_pessoas.csv

In [ ]:
dados = pd.read_csv('dados_pessoas.csv')

In [ ]:
dados

   ID     Nome Data_de_Nascimento          Nivel_de_Escolaridade
0   1     Joao         1990-01-01          Ensino Medio Completo
1   2    Maria         1991-02-02       Ensino Superior Completo
2   3    Pedro         1992-03-03     Ensino Superior Incompleto
3   4      Ana         1993-04-04       Ensino Superior Completo
4   5    Paulo         1994-05-05          Ensino Medio Completo
5   6     Jose         1995-06-06    Ensino Fundamental Completo
6   7   Carlos         1996-07-07                     Analfabeto
7   8  Antonio         1997-08-08                     Analfabeto
8   9     Jose         1999-09-09  Ensino Fundamental Incompleto
9  10    Joana         2000-10-10  Ensino Fundamental Incompleto

# Ler a tabela media_sal.csv

In [ ]:
media_sal = pd.read_csv('media_sal.csv')

In [ ]:
media_sal

   ID          Profiss√£o  Media Salarial
0   1          Atendente           2.500
1   2             M√©dico          13.500
2   3        Programador           7.000
3   4         Professora           7.500
4   5  Operador de Caixa           2.625
5   6  Atendente de Loja           4.500
6   7           Diarista           3.000
7   8           Pedreiro           3.000
8   9  Atendente de Loja           2.500
9  10           Diarista           2.000

# Transform

## Mesclar os dados das tabelas dados_pessoas.csv e media_sal.csv

In [ ]:
tabela_final = dados.merge(media_sal,
                           left_on = 'ID',
                           right_on ='ID',
                           how='left' )

# Visualizar a Tabela Final

In [ ]:
tabela_final

,ID,Nome,Data de Nascimento,Nivel de Escolaridade,Profiss√£o,Media Salarial
0,1,Joao,1990-01-01,Ensino Medio Completo,Atendente,2.500
1,2,Maria,1991-02-02,Ensino Superior Completo,M√©dico,13.500
2,3,Pedro,1992-03-03,Ensino Superior Incompleto,Programador,7.000
3,4,Ana,1993-04-04,Ensino Superior Completo,Professora,7.500
4,5,Paulo,1994-05-05,Ensino Medio Completo,Operador de Caixa,2.625
5,6,Jose,1995-06-06,Ensino Fundamental Completo,Atendente de Loja,4.500
6,7,Carlos,1996-07-07,Analfabeto,Diarista,3.000
7,8,Antonio,1997-08-08,Analfabeto,Pedreiro,3.000
8,9,Jose,1999-09-09,Ensino Fundamental Incompleto,Atendente de Loja,2.500
9,10,Joana,2000-10-10,Ensino Fundamental Incompleto,Diarista,2.000

# Load

## Convertendo a tabela_final.csv para .xls e salvando

In [ ]:
tabela_final.to_excel("tabela_final.xlsx", index=False)